<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/thymeleaf/default_layout}">
    
    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/css/register/login.css}" />
    </th:block>

    <div class="main-content" layout:fragment="content">
        <div class="login-wrapper">
            <img src="/img/login_back.png" class="login-background" />
            <div class="login-container">
                <form action="/login" method="post" enctype="multipart/form-data">
                    <div class="id">
                        <label for="username">ID</label><br>
                        <input type="text" id="memberId" name="memberId" required>
                    </div>
                    <div class="password">
                        <label for="password">Password</label><br>
                        <input type="password" id="memberPwd" name="memberPwd" required>
                    </div>
                    <!-- 메시지 박스 -->
                    <div th:if="${message}" class="errorMessage" id="errorMessage">
                        <span th:text="${message}"></span>
                    </div>
                    <button type="submit" style="display: none;">submit</button>
                </form>
                <button class="account-login-btn" onclick="document.querySelector('button[type=submit]').click()">로그인</button>
                <div class="account-register">
                    <a href="/members/insert">계정이 없으신가요? 회원가입</a>
                </div>
            </div>
        </div>
    </div>
    <!-- <script th:src="@{/js/login.js}"></script> -->
    <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", function() {
            var errorMessage = document.getElementById("errorMessage");
            if (errorMessage) {
                setTimeout(function() {
                    errorMessage.style.display = "none";
                }, 3000); // 3초 후에 메시지 숨기기
            }
        });
    </script>
</html>
