<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/thymeleaf/default_layout}">
    
    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/css/register.css}" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.15.10/dist/sweetalert2.min.css">
        <style>
            .at {
                padding-top: 12px;
                margin-top: 8px;
            }
        </style>
    </th:block>

    <div class="main-container" layout:fragment="content">
        <div class="register-wrapper">
            <!-- <img src="/img/register_back.png" class="register-background" />
            <img src="/img/register_profile.png" class="profile-image"> -->
            
            <form action="/members/insert" method="post" id="signupForm">
                <label for="name">이름</label>
                <input type="text" id="memberName" name="memberName" placeholder="이름을 입력하세요" required>
        
                <label for="dob">생년월일</label>
                <input type="date" id="memberBirthdate" name="memberBirthdate" required>
        
                <label for="nickname">닉네임</label>
                <div class="input-group">
                    <input type="text" id="memberNickname" name="memberNickname" placeholder="닉네임을 입력하세요" required>
                    <button type="button" class="check-btn" id="nickCheck">중복 확인</button>
                </div>
        
                <label for="email">이메일</label>
                <div class="input-group">
                    <input type="text" id="memberEmail" name="memberEmail" placeholder="이메일을 입력하세요" required>
                    <span class="at">@</span>
                    <input type="text" id="emailDomainInput" disabled>
                    <select id="emailDomainSelect" onchange="updateDomainInput()">
                        <option value="" selected></option> <!-- 기본 선택되지 않은 옵션 -->
                        
                        <option value="gmail.com">gmail.com</option>
                        <option value="naver.com">naver.com</option>
                        <option value="daum.net">daum.net</option>
                        <option value="custom">직접입력</option>
                    </select>
                    <!-- <input type="text" id="custom-domain" placeholder="직접 입력" style="display:none;"> -->
                </div>
        
                <label for="userid">ID</label>
                <div class="input-group">
                    <input type="text" id="memberId" name="memberId" placeholder="ID를 입력하세요" required>
                    <button type="button" class="check-btn" id="idCheck">중복 확인</button>
                </div>
        
                <label for="password">Password</label>
                <input type="password" id="memberPwd" name="memberPwd" placeholder="비밀번호를 입력하세요" required>
        
                <label for="password-check">Password Check</label>
                <input type="password" id="password-check" name="password-check" placeholder="비밀번호를 다시 입력하세요" required>
                <p class="error-message" id="passwordMessage">*일치하지 않습니다.</p>
        
                <!-- <label for="phone">[선택] 전화번호</label>
                <input type="text" id="phone" name="phone" placeholder="전화번호를 입력하세요">
        
                <label for="address">[선택] 주소</label>
                <div class="input-group">
                    <select>
                        <option>시/도 선택</option>
                        <option>서울</option>
                        <option>부산</option>
                        <option>인천</option>
                        <option>대구</option>
                        <option>대전</option>
                        <option>광주</option>
                        <option>울산</option>
                        <option>세종</option>
                        <option>경기</option>
                        <option>강원</option>
                        <option>충청북도</option>
                        <option>충청남도</option>
                        <option>전라남도</option>
                        <option>경상북도</option>
                        <option>경상남도</option>
                        <option>제주</option>
                    </select>
                    <input type="text" id="address" name="address" placeholder="나머지 주소를 입력하세요">
                </div> -->
        
                <button type="submit" class="signup-btn">Sign Up</button>
            </form>
        
            <p class="login-link">이미 계정이 있으신가요? <a href="#">로그인</a></p>
        </div>
    </div>
    <!-- <script th:src="@{/js/register.js}"></script> -->
    <th:block layout:fragment="script">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.15.10/dist/sweetalert2.all.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            const passwordInput = document.getElementById('memberPwd');
            const passwordCheckInput = document.getElementById('password-check');
            const passwordMessage = document.getElementById('passwordMessage');

            // 비밀번호 확인 함수
            function checkPasswords() {
                if (passwordCheckInput.value === "") {
                    passwordMessage.style.visibility = 'hidden'; // 비밀번호 확인 입력이 비어있으면 메시지 숨김
                    return; // 아무 값도 없는 경우 확인하지 않음
                }

                if (passwordInput.value !== passwordCheckInput.value) {
                    passwordMessage.style.visibility = 'visible'; // 비밀번호가 일치하지 않으면 메시지 표시
                } else {
                    passwordMessage.style.visibility = 'hidden'; // 비밀번호가 일치하면 메시지 숨김
                }
            }

            // 입력 이벤트 리스너 추가
            passwordInput.addEventListener('input', checkPasswords);
            passwordCheckInput.addEventListener('input', checkPasswords);


            function getEmail() {
                const emailId = document.getElementById("memberEmail").value;
                const domainInput = document.getElementById("emailDomainInput").value;
                
                const fullEmail = `${emailId}@${domainInput}`;
                document.getElementById("memberEmail").value = fullEmail;
            }

            $('#signupForm').on('submit', function(event) {
                event.preventDefault();
                checkDuplicateId().then(result => {
                    if (result !== 1) {
                        Swal.fire({
                            icon: "error",
                            text: "아이디를 다시 입력해주세요.",
                            timer: 1500
                        });
                    } else {
                        checkDuplicateNick().then(result => {
                            if (result !== 1) {
                                Swal.fire({
                                    icon: "error",
                                    text: "닉네임을 다시 입력해주세요.",
                                    timer: 1500
                                });
                            } else {
                                getEmail();
                                event.target.submit();
                            }
                        });
                    }
                });
            });

            $('#idCheck').on('click', function() {
                let check = 'id';
                alertType(check);
            });

            $('#nickCheck').on('click', function() {
                let check = 'nick';
                alertType(check);
            });
        });

        function updateDomainInput() {
            const domainSelect = document.getElementById("emailDomainSelect");
            const domainInput = document.getElementById("emailDomainInput");

            if (domainSelect.value === "custom") {
                domainInput.value = "";
                domainInput.disabled = false;  // 직접 입력 가능
                domainInput.focus();  // 입력 필드에 자동 포커스
            } else {
                domainInput.value = domainSelect.value;
                domainInput.disabled = true;  // 입력 불가 (고정)
            }
        }


        function checkDuplicateId() {
            return new Promise((resolve, reject) => {
                var memberId = document.getElementById('memberId').value;

                if (memberId.length > 0) {
                    var encodedmemberId = encodeURIComponent(memberId);
                    console.log(`Sending request to /members/check-memberid with memberId: ${encodedmemberId}`);
                    var url = `http://127.0.0.1/members/check-memberid?memberId=${encodedmemberId}`;
                    
                    fetch(url)
                        .then(response => {
                            console.log(`Received response with status: ${response.status}`);
                            if (!response.ok) {
                                throw new Error(`HTTP error! status: ${response.status}`);
                            }
                            return response.json();
                        })
                        .then(data => {
                            console.log(`Received JSON data: ${data}`);
                            if (data) {
                                resolve(-1); // 데이터가 있을 경우 -1을 resolve
                            } else {
                                resolve(1); // 데이터가 없을 경우 1을 resolve
                            }
                        })
                        .catch(error => {
                            console.error('Error fetching the data:', error);
                            reject(error); // 오류 발생 시 reject 호출
                        });
                } else {
                    resolve(0); // ID가 없을 경우 0을 resolve
                }
            });
        }

        function checkDuplicateNick() {
            return new Promise((resolve, reject) => {
                var memberNickname = document.getElementById('memberNickname').value;

                if (memberNickname.length > 0) {
                    var encodedmemberNickname = encodeURIComponent(memberNickname);
                    console.log(`Sending request to /members/check-memberNick with memberNickname: ${encodedmemberNickname}`);
                    var url = `http://127.0.0.1/members/check-memberNick?memberNickname=${encodedmemberNickname}`;
                    
                    fetch(url)
                        .then(response => {
                            console.log(`Received response with status: ${response.status}`);
                            if (!response.ok) {
                                throw new Error(`HTTP error! status: ${response.status}`);
                            }
                            return response.json();
                        })
                        .then(data => {
                            console.log(`Received JSON data: ${data}`);
                            if (data) {
                                resolve(-1); // 데이터가 있을 경우 -1을 resolve
                            } else {
                                resolve(1); // 데이터가 없을 경우 1을 resolve
                            }
                        })
                        .catch(error => {
                            console.error('Error fetching the data:', error);
                            reject(error); // 오류 발생 시 reject 호출
                        });
                } else {
                    resolve(0); // Nickname이 없을 경우 0을 resolve
                }
            });
        }

        function alertType(check) {
            if(check === 'id') {
                checkDuplicateId()
                .then(result => {
                    if(result === -1) {
                        Swal.fire({
                            icon: "error",
                        text: "이미 사용 중인 아이디입니다.",
                        timer: 1500
                    });
                } else if(result === 0) {
                    Swal.fire({
                        icon: "question",
                        title: "아이디를 입력해주세요.",
                        timer: 1500
                    });
                } else if(result === 1) {
                    Swal.fire({
                        icon: "success",
                        title: "사용할 수 있는 아이디입니다.",
                        timer: 1500
                    });
                }
            });
            } else if(check === 'nick') {
                checkDuplicateNick()
                .then(result => {
                    if(result === -1) {
                        Swal.fire({
                            icon: "error",
                            text: "이미 사용 중인 닉네임입니다.",
                            timer: 1500
                        });
                    } else if(result === 0) {
                        Swal.fire({
                            icon: "question",
                            title: "닉네임을 입력해주세요.",
                            timer: 1500
                        });
                    } else if(result === 1) {
                        Swal.fire({
                            icon: "success",
                            title: "사용할 수 있는 닉네임입니다.",
                            timer: 1500
                        });
                    }
                });
            }
        }
    </script>
    </th:block>
</html>
