body {
    margin: 0;
    display: flex;
    font-family: Arial, sans-serif;
    flex-direction: column;       
    background-size: cover;       
    background-position: center; 
    background-repeat: no-repeat; 
    min-height: 100vh;                 
    width: 100%;
}

/* 1. 헤더 */
header {
    background: rgba(255, 255, 255, 0.2);
    /* background: transparent; */
    position: static;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1px 0;
    z-index: 100;  /* 항상 헤더레이어가 최상위 */
    color: #454343;
    font-weight: bold;
}
    nav {
        width: 95%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    /* .logo img {
        height: 33px;
    } */
    .menu {
        padding: 5px 15px;
        gap: 90px;
    }
    .menu a, .account a {
        text-decoration: none;
    }
    .menu a:hover, .account a:hover {
        text-decoration: underline;
        text-decoration-color: rgb(8, 8, 8);
        /* text-decoration-style: solid; */
        transition: all 0.3s ease;
    }
    .account {
        width: 500px;              
        justify-content: flex-end; 
        padding: 5px 0;            
        box-sizing: border-box;  
        gap: 20px;   
    }
    .menu, .account {
        display: flex;
        align-items: center;
        text-decoration: none;
        font-size: 20px;
        background: transparent;
        cursor: pointer;
    }
    
    .login-btn {
        font-size: 18px;
        background-color: #ffffff;
        font-weight: bold !important;
        color: #454343;
        border: none;
        border-radius: 20px;
        padding: 5px 15px;
        cursor: pointer;
    }
    /* 하이퍼링크 클릭 시 색상 유지 */
    .menu a:link, .menu a:visited, .menu a:active, .account a:link, .account a:active, .account a:visited{
        color: #454343;
        /* text-decoration: none; */
    }
    .login-btn:hover {
        background-color: #F5DF2C;
        color: #F85A7B;
        transition: background-color 0.3s ease;
    }

/* 4. 푸터 스타일 */
.footer {
    background: rgba(6, 6, 6, 1); /* 반투명한 흰색 배경 */
    padding: 10px;
    text-align: left; /* 왼쪽 정렬 */
    display: flex;
    justify-content: flex-start;
    color: white;
}
/* 컨텐츠 영역 정렬 */
.footer-content {
    display: flex;
    align-items: center;
    gap: 15px; /* 로고와 텍스트 간격 */
}
/* 로고 스타일 */
.footer-logo {
    margin-left: 30px;
    margin-right: 20px;
    width: 60px; /* 로고 크기 조정 */
    height: 50px;
}
/* 텍스트 스타일 */
.footer-text h3 {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
}
.footer-text p {
    margin: 3px 0;
    font-size: 14px;
}

.account img {
    width: 50px;
    height: 50px;
    /* margin-top: 13px; */
    padding-top: 14px;
}