<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/thymeleaf/admin/admin_default_layout}">

<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/admin/event_storyboard.css}" />
</th:block>

<div layout:fragment="content">
    
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">이벤트 스토리 보드</h1>
    

    <!-- DataTales -->
    <div class="card shadow mb-4">
        <div class="card-body">
            <div id="eventListContainer" class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0" th:fragment="eventListFragment">
                    <thead>
                        <tr>
                            <th>이벤트 ID</th>
                            <th>이벤트명</th>
                            <th>이벤트 설명</th>
                            <!-- <th>등록일</th> -->
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="event : ${events}">
                            <td th:text="${event.eventId}">이벤트 ID</td>
                            <td>
                                <span class="event-title" 
                                      onclick="showEventDetail(this)"
                                      th:text="${event.eventName}">이벤트명</span>
                            </td>
                            <td th:text="${event.eventDescription}">이벤트 설명</td>
                            <!-- <td th:text="${event.eventDate}">등록일</td> -->
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- 이벤트 상세 모달 -->
    <div class="modal fade" id="eventDetailModal" tabindex="-1" role="dialog" aria-labelledby="eventDetailModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="eventDetailModalLabel">이벤트 상세</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <strong>이벤트ID:</strong> <span id="modalEventId"></span>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <strong>이벤트명: </strong>
                            <input type="text" 
                                   id="modalEventName">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-12">
                            <strong>이벤트 설명</strong>
                            <textarea id="modalEventDescription" 
                                      class="modal-event-description" 
                                      rows="3"></textarea>
                        </div>
                    </div>
                    
                    <!-- <div class="row mb-3">
                        <div class="col-md-6">
                            <strong>작성일:</strong> <span id="modalEventDate"></span>
                        </div>
                    </div> -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn-update" onclick="updateEventDetail()">
                        <i class="fas fa-sync-alt mr-1"></i>수정
                    </button>
                    <button type="button" class="btn-delete" onclick="updateDelEvent()">
                        <i class="fas fa-trash mr-1"></i>삭제
                    </button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- 이벤트 등록 모달 -->
    <div class="modal fade" id="addEventModal" tabindex="-1" role="dialog" aria-labelledby="addEventModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addEventModalLabel">이벤트 등록</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <strong>이벤트ID:</strong> <span id="modalAddEventId"></span>
                        </div>
                        <div class="col-md-6">
                            <strong>이벤트명:</strong> <span id="modalAddEventName"></span>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-12">
                            <strong>이벤트 설명:</strong> <span id="modalAddEventDescription"></span>
                        </div>
                    </div>
                    
                    <!-- <div class="row mb-3">
                        <div class="col-md-6">
                            <strong>작성일:</strong> <span id="modalEventDate"></span>
                        </div>
                    </div> -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn-add" onclick="addEvent()">
                        <i class="fas fa-plus mr-1"></i>등록
                    </button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>



<th:block layout:fragment="script">
    <script type="text/javascript" th:src="@{/js/admin/event_storyboard.js}"></script>
</th:block>
</html>
