<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/thymeleaf/admin/admin_default_layout}">

<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/admin/member_stats.css}" />
</th:block>

<div layout:fragment="content">
    <h2 class="mb-4">회원 통계</h2>

    <!-- 일별 회원수 그래프 -->
    <div class="chart-container">
        <div class="chart-wrapper">
            <h3 class="chart-title">일별 회원수</h3>
            <canvas id="dailyChart"></canvas>
        </div>
        <div class="chart-wrapper">
            <h3 class="chart-title">월별 회원수</h3>
            <canvas id="monthlyChart"></canvas>
        </div>
        <div class="chart-wrapper">
            <h3 class="chart-title">연도별 회원수</h3>
            <canvas id="yearlyChart"></canvas>
        </div>
    </div>

    <!-- 통계 데이터를 담을 영역 -->
    <div id="yearlyStatsFragment" th:fragment="yearlyStatsFragment"></div>
    <div id="monthlyStatsFragment" th:fragment="monthlyStatsFragment"></div>
    <div id="dailyStatsFragment" th:fragment="dailyStatsFragment"></div>
</div>

<th:block layout:fragment="script">
    <script type="text/javascript" th:src="@{/js/admin/member_stats.js}"></script>
</th:block>
</html>
