<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/thymeleaf/default_layout}">
    
    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/css/mypage/mypage_edit.css}" />
        <link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/npm/sweetalert2@11.15.10/dist/sweetalert2.min.css}">
        <style>
            ul {
                list-style-type: none; /* 불릿 제거 */
                padding: 0;
                /* margin: 0; */
            }
            .profile-box {
                transform: translate(31%, 0%);
            }

            .journiverse {
                font-weight: bolder;
            }

            .profile-text {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 5px;
                font-size: 18px;
                font-weight: 400;
                color: #000000; /* 글씨 검정색 */
            }

            .profile-container {
                /* position: relative; */
                width: 170px;
                /* height: 178px; */
                left: 600px;
                top: 288px;
            }

            /* 기존 프로필 사진 스타일 수정 */
            .profile-photo {
                width: 100%;
                height: 100%;
                background: #F1F1F1;
                border: 1px solid #C0BBBB;
                border-radius: 3px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 5px;
                cursor: pointer;
            }

            /* 프로필 미리보기 이미지 스타일 */
            .profile-preview {
                top: 0;
                left: 0;
                width: 100%;
                /* height: 100%; */
                object-fit: cover;
                border: 1px solid #C0BBBB;
                border-radius: 3px;
                transition: opacity 0.3s;
                cursor: pointer;
            }

            .profile-preview:hover {
                opacity: 0.8;
            }

            .profile-image {
                cursor: pointer;
            }
                        
            .width-75 {
                width: 75% !important;
            }

            .left-section {
                width: 460px;
            }
        </style>
    </th:block>

    <span layout:fragment="pre-content">
	    <!-- 별과 별똥별 -->
		<div class="comet1"></div>
		<div class="comet2"></div>

		<div class="stars-container">
			<div class="star"></div>
			<div class="star"></div>
			<div class="star"></div>
			<div class="star"></div>
			<div class="star"></div>
			<div class="star"></div>
			<div class="star"></div>
		</div>
    </span>

    <div layout:fragment="content">
        <div class="title">
            <img src="/img/mypage/title-EditMyProfile.png" alt="MyPage" class="mypage-title">
        </div>
        <div class="register-wrapper">
            
            <div class="left-section">
                <p>안녕하세요, <br><span  id="nicknameDisplay" class="nickname"></span> 님!</p>
                <p><strong class="journiverse">Journiverse </strong>에서<br>감정의 여정을
                    <br>떠나보세요.</p>
            </div>
            <div class="signup-box">
                <h1>My Account</h1>
                <form action="/mypage/update" method="post" id="signupForm" th:object="${member}" enctype="multipart/form-data">
                    <!-- <img src="/img/register/register_back.png" class="register-background" /> -->
                    
                    <ul>
                        <li class="profile-box">
                            <div class="profile-container">
                                <!-- 프로필 사진 업로드 박스 -->
                                <!-- <div class="profile-photo" onclick="document.getElementById('file-upload-1').click()">
                                    <span class="ic--baseline-upload"></span>
                                    <div class="profile-text">프로필 사진</div>
                                </div> -->

                                <img th:if="${memberProfileImage == null}" src="/img/register/register_profile.png" class="profile-image check-null" onclick="document.getElementById('file-upload-1').click()">
                        
                                <!-- 파일 입력 필드 -->
                                <input type="file"
                                       id="file-upload-1"
                                       name="memberProfile_mpf"
                                       accept="image/*"
                                       style="display: none;"
                                       onchange="previewImage(this, 'profile-preview-1')" />
                               
                                <!-- 이미지 미리보기 -->
                                <!-- <img id="profile-preview-1"
                                     class="profile-preview"
                                     th:if="${usersProfileImage != null}"
                                     th:src="${usersProfileImage}"
                                    style="display: none;"
                                     onclick="document.getElementById('file-upload-1').click()" /> -->
                                
                                <img id="profile-preview-1" th:if="${memberProfileImage != null}" th:src="${memberProfileImage}" class="profile-image profile-preview" style="display: none;" onclick="document.getElementById('file-upload-1').click()">
                            </div>
                            
                            <!-- <img id="profile-preview-1" th:if="${memberProfileImage != null}" src="${memberProfileImage}" class="profile-image" style="display: none;" onclick="document.getElementById('file-upload-1').click()"> -->
                        </li>
                        <li>
                            <label for="name">이름</label>
                            <div class="width-75">
                            <input type="text" id="memberName" name="memberName" placeholder="이름을 입력하세요" th:value="${member.memberName}" required>
                            </div>
                        </li>
                        <li>
                            <label for="dob">생년월일</label>
                            <div class="width-75">
                            <input type="date" id="memberBirthdate" name="memberBirthdate" required>
                            </div>
                        </li>
                        <li>
                    <label for="nickname">닉네임</label>
                    <div class="input-group">
                        <input type="text" id="memberNickname" name="memberNickname" placeholder="닉네임을 입력하세요" th:value="${member.memberNickname}" class="width-75" required>
                            <button type="button" class="check-btn" id="nickCheck">중복 확인</button>
                        </div>
                        </li>
                        <li>
                    <label for="email">이메일</label>
                    <div class="input-group width-75">
                        <input type="text" id="memberEmail" name="memberEmail" placeholder="이메일을 입력하세요" required>
                        <span class="at">@</span>
                        <input type="text" id="emailDomainInput" disabled>
                        <select id="emailDomainSelect" onchange="updateDomainInput()">
                            <option value="" selected></option> <!-- 기본 선택되지 않은 옵션 -->
                            
                            <option value="gmail.com">gmail.com</option>
                            <option value="naver.com">naver.com</option>
                            <option value="daum.net">daum.net</option>
                            <option value="custom">직접입력</option>
                        </select>
                        <!-- <input type="text" id="custom-domain" placeholder="직접 입력" style="display:none;"> -->
                    </div>
                        </li>
                        <li>
                    <label for="userid">ID</label>
                    <div class="input-group">
                        <input type="text" id="memberId" name="memberId" placeholder="ID를 입력하세요" th:value="${member.memberId}" class="width-75" disabled>
                    </div>
                    </li>
                    <li>
                    <label for="password">Password</label>
                    <div class="width-75">
                    <input type="password" id="memberPwd" name="memberPwd" placeholder="비밀번호를 입력하세요" required>
                    </div>
                    </li>
                    <li>
                    <label for="password-check">Password Check</label>
                    <div class="width-75">
                    <input type="password" id="password-check" name="password-check" placeholder="비밀번호를 다시 입력하세요" required>
                    </div>
                    </li>
                    <li>
                    <p class="error-message" id="passwordMessage">*일치하지 않습니다.</p>
                    </li>
                    <label for="phone">[선택] 전화번호</label>
                    <div class="width-75">
                    <input type="text" id="memberPhone" name="memberPhone" placeholder="전화번호를 입력하세요" th:value="${member.memberPhone}">
                    </div>
            
                    <label for="address">[선택] 주소</label>
                    <div class="width-75">
                        <!-- <select>
                            <option>시/도 선택</option>
                            <option>서울</option>
                            <option>부산</option>
                            <option>인천</option>
                            <option>대구</option>
                            <option>대전</option>
                            <option>광주</option>
                            <option>울산</option>
                            <option>세종</option>
                            <option>경기</option>
                            <option>강원</option>
                            <option>충청북도</option>
                            <option>충청남도</option>
                            <option>전라남도</option>
                            <option>경상북도</option>
                            <option>경상남도</option>
                            <option>제주</option>
                        </select> -->
                        <input type="text" id="memberAddress" name="memberAddress" placeholder="나머지 주소를 입력하세요" th:value="${member.memberAddress}">
                        </div>
                    <li>
                        <button type="submit" class="signup-btn">수정하기</button>
                    </li>
                </ul>
                </form>
            
            </div>
            
        </div>
        <div id="nickContainer" th:data-value="${member.memberNickname}" display="none"></div>
        <div id="birthContainer" th:data-value="${member.memberBirthdate}" display="none"></div>
        <div id="emailContainer" th:data-value="${member.memberEmail}" display="none"></div>
    </div>
    
    <!-- <script th:src="@{/js/register.js}"></script> -->
    <th:block layout:fragment="script">
    <script th:src="@{https://cdn.jsdelivr.net/npm/sweetalert2@11.15.10/dist/sweetalert2.all.min.js}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            document.getElementById('memberNickname').addEventListener('input', function() {
                const input = this.value;
                const isKorean = /[가-힣]/.test(input); // 한글이 포함되어 있는지 확인
                const maxLength = isKorean ? 10 : 14; // 한글일 경우 5자, 영문일 경우 10자

                this.setAttribute('maxlength', maxLength); // maxlength 속성 설정
            });

            if ($('.check-null').length === 0) {
                $('.profile-box').css('transform', 'translate(34%, 0%)')
            }

            
            const preview1 = document.getElementById('profile-preview-1');
            const uploadBox1 = document.querySelector('.profile-photo');
            
            // 첫 번째 프로필 이미지 체크
            if (preview1 && preview1.src && preview1.src !== window.location.href) {
                preview1.style.display = 'block';
                if (uploadBox1) uploadBox1.style.display = 'none';
            }
            
            const memberBirthdate = document.getElementById('birthContainer').getAttribute('data-value');

            const formattedDate = formatDate(memberBirthdate);
            document.getElementById('memberBirthdate').value = formattedDate;

            const memberNicknameInput = document.getElementById('memberNickname');
            const nicknameDisplay = document.getElementById('nicknameDisplay');

            nicknameDisplay.textContent = memberNicknameInput.value;

            // input 이벤트 리스너 추가
            memberNicknameInput.addEventListener('input', function() {
                // 입력된 값을 .nickname에 업데이트
                nicknameDisplay.textContent = memberNicknameInput.value;
            });

            const memberEmail = document.getElementById('emailContainer').getAttribute('data-value'); // Thymeleaf에서 memberEmail 값을 가져옴
            const [emailId, emailDomain] = memberEmail.split('@'); // '@'를 기준으로 분리

            document.getElementById('memberEmail').value = emailId; // #memberEmail에 사용자 ID 설정
            document.getElementById('emailDomainInput').value = emailDomain; // #emailDomainInput에 도메인 설정

            const passwordInput = document.getElementById('memberPwd');
            const passwordCheckInput = document.getElementById('password-check');
            const passwordMessage = document.getElementById('passwordMessage');

            // 비밀번호 확인 함수
            function checkPasswords() {
                if (passwordCheckInput.value === "") {
                    passwordMessage.style.visibility = 'hidden'; // 비밀번호 확인 입력이 비어있으면 메시지 숨김
                    return; // 아무 값도 없는 경우 확인하지 않음
                }

                if (passwordInput.value !== passwordCheckInput.value) {
                    passwordMessage.style.visibility = 'visible'; // 비밀번호가 일치하지 않으면 메시지 표시
                } else {
                    passwordMessage.style.visibility = 'hidden'; // 비밀번호가 일치하면 메시지 숨김
                }
            }

            // 입력 이벤트 리스너 추가
            passwordInput.addEventListener('input', checkPasswords);
            passwordCheckInput.addEventListener('input', checkPasswords);


            function getEmail() {
                const emailId = document.getElementById("memberEmail").value;
                const domainInput = document.getElementById("emailDomainInput").value;
                
                const fullEmail = `${emailId}@${domainInput}`;
                document.getElementById("memberEmail").value = fullEmail;
            }

            $('#signupForm').on('submit', function(event) {
                event.preventDefault();
                checkDuplicateNick('submit').then(result => {
                    if (result !== 1) {
                        Swal.fire({
                            icon: "error",
                            text: "닉네임을 다시 입력해주세요.",
                            timer: 1500
                        });
                    } else {
                        getEmail();
                        event.target.submit();
                    }
                });
            });

            $('#nickCheck').on('click', function() {
                let check = 'nick';
                alertType(check);
            });
        });

        function previewImage(input, previewId) {
            if ($('.profile-image').is(':visible')) { // 요소가 보이는지 확인
                $('.profile-image').hide(); // display를 none으로 변경
            }

            $('.profile-box').css('transform', 'translate(34%, 0%)');
            let preview = document.getElementById(previewId); // const를 let으로 변경
            const uploadBox = document.querySelector('.profile-photo');
            
            if (input.files && input.files[0]) {
                const reader = new FileReader();
                
                reader.onload = function(e) {
                    if (preview) {
                        preview.style.display = 'none'; // 기존 이미지 숨기기
                    }
                    // 이미지 미리보기가 없으면 새로 생성
                    if (!preview) {
                        const newPreview = document.createElement('img');
                        newPreview.id = previewId;
                        newPreview.className = 'profile-preview';
                        newPreview.style.cursor = 'pointer';
                        newPreview.onclick = function() {
                            document.getElementById(input.id).click();
                        };
                        input.parentElement.appendChild(newPreview);
                        preview = newPreview; // 여기서 재할당이 필요하므로 let으로 선언된 변수 사용
                    }
                    
                    // 이미지 소스 설정 및 표시
                    preview.src = e.target.result;
                    preview.style.display = 'block';
                    
                    // 업로드 박스 숨기기
                    if (uploadBox) {
                        uploadBox.style.display = 'none';
                    }
                };
                
                reader.readAsDataURL(input.files[0]);
            }
        }

        function formatDate(date) {
            const parsedDate = new Date(date);
            if (isNaN(parsedDate)) {
                console.error("유효하지 않은 날짜입니다:", date);
                return null; // 또는 적절한 기본값 반환
            }
            return parsedDate.toISOString().split('T')[0];
        }

        function updateDomainInput() {
            const domainSelect = document.getElementById("emailDomainSelect");
            const domainInput = document.getElementById("emailDomainInput");

            if (domainSelect.value === "custom") {
                domainInput.value = "";
                domainInput.disabled = false;  // 직접 입력 가능
                domainInput.focus();  // 입력 필드에 자동 포커스
            } else {
                domainInput.value = domainSelect.value;
                domainInput.disabled = true;  // 입력 불가 (고정)
            }
        }

        function checkDuplicateNick(check) {
            if(document.getElementById('memberNickname').value === document.getElementById('nickContainer').getAttribute('data-value')) {
                if(check !== 'submit') {
                    Swal.fire({
                        icon: "info",
                        title: "현재 사용중인 닉네임입니다.",
                        timer: 1500
                    });
                    return;
                } else {
                    return new Promise((resolve, reject) => {
                        resolve(1);
                    });
                }
            } else {
                return new Promise((resolve, reject) => {
                    var memberNickname = document.getElementById('memberNickname').value;

                if (memberNickname.length > 0) {
                    var encodedmemberNickname = encodeURIComponent(memberNickname);
                    console.log(`Sending request to /members/check-memberNick with memberNickname: ${encodedmemberNickname}`);
                    var url = `http://127.0.0.1/members/check-memberNick?memberNickname=${encodedmemberNickname}`;
                    
                    fetch(url)
                        .then(response => {
                            console.log(`Received response with status: ${response.status}`);
                            if (!response.ok) {
                                throw new Error(`HTTP error! status: ${response.status}`);
                            }
                            return response.json();
                        })
                        .then(data => {
                            console.log(`Received JSON data: ${data}`);
                            if (data) {
                                resolve(-1); // 데이터가 있을 경우 -1을 resolve
                            } else {
                                resolve(1); // 데이터가 없을 경우 1을 resolve
                            }
                        })
                        .catch(error => {
                            console.error('Error fetching the data:', error);
                            reject(error); // 오류 발생 시 reject 호출
                        });
                } else {
                        resolve(0); // Nickname이 없을 경우 0을 resolve
                    }
                });
            }
        }

        function alertType(check) {
            checkDuplicateNick(check).then(result => {
                if(result === -1) {
                    Swal.fire({
                        icon: "error",
                        text: "이미 사용 중인 닉네임입니다.",
                        timer: 1500
                    });
                } else if(result === 0) {
                    Swal.fire({
                        icon: "question",
                        title: "닉네임을 입력해주세요.",
                        timer: 1500
                    });
                } else if(result === 1) {
                    Swal.fire({
                        icon: "success",
                        title: "사용할 수 있는 닉네임입니다.",
                        timer: 1500
                    });
                }
            });
        }
    </script>
    </th:block>
</html>
