<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/thymeleaf/default_layout}">
    
    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/css/mypage/mypage_common.css}" />
        <link rel="stylesheet" th:href="@{/css/mypage/mypage_mission.css}">
        <link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css}">
        <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.6.6/plugins/monthSelect/style.min.css}">
        <style>
            .margin-top-important-17 {
                margin-top: 17px !important; /* !important 사용 */
            }
            .margin-top-important-83 {
                margin-top: 83px !important; /* !important 사용 */
            }
        </style>
    </th:block>

    <span layout:fragment="pre-content">
        <!-- 별과 별똥별 -->
        <div class="comet1"></div>
        <div class="comet2"></div>

        <div class="stars-container">
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
        </div>
    </span>

    <div layout:fragment="content">
        <!-- [타이틀]-->
        <div class="title">
            <img src="/img/mypage/title-mymission.png" alt="MyPage" class="mypage-title">
        </div>
    
        <!-- 감정 분석 박스 -->
        <section class="mypage-content">
            <!-- 연도 & 월 선택 드롭다운 -->
            <div class="day-filter">
                <input type="text" id="date-select">
                <!-- <select id="year-select">
                    <option>2025 년</option>
                    <option>2024 년</option>
                </select>
                <select id="month-select">
                    <option>February</option>
                    <option>January</option>
                    <option>December</option>
                </select> -->
            </div>
            <div class="mission-boxes">    
                <!-- 출석 미션 -->
                <div class="mission1-box">
                    <button class="mission-title">이달의 출석 미션</button>
                    <div class="mission-graph-container">
                        <img src="/img/mypage/mission(feburary)_unclear2.png" class="mission1-graph">
                        <img src="" class="mission-clear">
                    </div>
                    <p class="mission-count">출석 횟수 (<span id="attendance-count">0</span>회 / <span class="full-day">0</span>회)</p>
                </div>                
            
                <!-- 일기 미션 -->
                <div class="mission2-box">
                    <button class="mission-title">이달의 일기 미션</button>
                    <div class="mission-graph-container">
                        <img src="/img/mypage/mission(feburary)_unclear3.png" class="mission2-graph">
                        <img class="mission-clear2">
                    </div>
                    <p class="mission-count">작성 횟수 (<span id="journal-count">0</span>회 / <span class="full-day">0</span>회)</p>
                </div>  
            </div>
        </section>
    </div>

    <th:block layout:fragment="script">
        <script type="text/javascript" th:src="@{https://cdn.jsdelivr.net/npm/flatpickr}"></script>
        <script type="text/javascript" th:src="@{https://cdn.jsdelivr.net/npm/flatpickr@latest/dist/plugins/monthSelect/index.js}"></script>
        <script type="text/javascript">
            $(document).ready(function() {
                const today = getCurrentDateFormatted();
                $("#date-select").flatpickr({
                    plugins: [
                    new monthSelectPlugin({
                            shorthand: true, // 'YYYY-MM' 형식으로 표시
                            dateFormat: "Y-m", // 선택된 날짜 형식
                            altFormat: "Y년 F", // 대체 형식
                        })
                    ],
                    minDate: "2025-01",
                    maxDate: today,
                    defaultDate: today,
                    altInput: true,
                    // altFormat: "Y F",
                    // dateFormat: "Y-m",
                });

                //attendance-count의 값 변경
                $("#attendance-count").text("17");
                $("#journal-count").text("12");
                //full-day의 값 변경    
                $(".full-day").text(new Date(2025, 2, 0).getDate());

                $(".mission-count").addClass("margin-top-important-83");

                $("#date-select").on("change", function() {
                    if ($(this).val() == "2025-01") {
                        //mission1-graph의 이미지 변경
                        $(".mission1-graph").attr("src", "/img/mypage/mission(january)_clear1.png");
                        
                        $(".mission-clear").attr("src", "/img/mypage/mission-clear.png");

                        //attendance-count의 값 변경
                        $("#attendance-count").text(new Date(2025, 1, 0).getDate());
                        $("#journal-count").text("16");
                        $(".mission2-graph").attr("src", "/img/mypage/mission(january)_unclear.png");
                        $(".mission1-graph, .mission2-graph").attr("width", "320px");
                        $(".mission1-graph, .mission2-graph").attr("height", "230px");
                        $(".mission1-graph, .mission2-graph").addClass("margin-top-important-17"); // 클래스 추가
                        $(".mission-count").removeClass("margin-top-important-83");
                        //full-day의 값 변경
                        $(".full-day").text(new Date(2025, 1, 0).getDate());
                    } else if($(this).val() == "2025-02") {
                        //mission1-graph의 이미지 변경
                        $(".mission1-graph").attr("src", "/img/mypage/mission(feburary)_unclear2.png");
                        //mission-clear의 이미지 변경
                        $(".mission-clear").attr("src", "");
                        //attendance-count의 값 변경
                        $("#attendance-count").text("17");
                        $(".mission2-graph").attr("src", "/img/mypage/mission(feburary)_unclear3.png");
                         // 클래스 추가
                        $("#journal-count").text("12");
                        //full-day의 값 변경    
                        $(".full-day").text(new Date(2025, 2, 0).getDate());
                        $(".mission1-graph, .mission2-graph").attr("width", "320px");
                        $(".mission1-graph, .mission2-graph").attr("height", "230px");
                        $(".mission1-graph, .mission2-graph").removeClass("margin-top-important-17");
                        $(".mission-count").addClass("margin-top-important-83");
                    }
                    // $.ajax({
                    //     url: "/mypage/mission",
                    //     type: "POST",
                    //     data: { date: $(this).val() },
                    //     success: function(response) {
                    //         console.log(response);
                    //     }
                    // });
                });
            });
            function getCurrentDateFormatted() {
                const today = new Date(); // 오늘 날짜 가져오기
                const year = today.getFullYear(); // 연도 가져오기
                const month = String(today.getMonth() + 1).padStart(2, '0'); // 월 가져오기 (0부터 시작하므로 +1, 두 자리로 포맷)

                return `${year}-${month}`; // "YYYY-MM" 형식으로 반환
            }
        </script>
    </th:block>
</html>