@charset "UTF-8";

.chart-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px; /* 차트 간의 간격 */
    margin: 20px;
}
.chart-title {
    font-size: 1.2rem;
    margin-bottom: 15px;
    color: #333;
}
.chart-wrapper {
    border: 1px solid rgba(0, 0, 0, 0.1); /* 연한 사각형 선 */
    border-radius: 8px;
    padding: 10px;
}
