/* 메인 콘텐츠 전체 영역 */
/* .main-content {
    justify-content: center;
    width: 90%;
    margin: 30px auto;
    padding: 30px;
} */

/* 타이틀 */
.mypage-title {
    /* object-fit: contain; */
    display: block; /* 혹시 inline 요소 때문에 크기가 달라지는 것 방지 */
    margin: 0 auto; /* 중앙 정렬 */
}

/* 감정 분석 박스 영역 */
.mypage-content {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column; 
    border-radius: 15px;
    margin-top: 20px;
    background-color: white;
    width: 80%;
    height: 70vh;
    gap: 20px;
}

/* 연도 & 월 선택 드롭다운 */
.day-filter {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    gap: 10px;
}
    .day-filter select {
        padding: 8px 12px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
    }

/* 개별 감정 박스 */
.journal-list {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 50px;
    margin-top: 30px;
}
    .emotion-boxe1 {
        width: 45%;
        height: auto;
    }
    .emotion-boxe2 {
        width: 45%;
        height: auto;
    }

