/* 감정 분석 박스 영역 */
.mypage-content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column; 
    border-radius: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: white;
    width: 95%;
    height: 70vh;
    gap: 20px;
}

/* 연도 & 월 선택 드롭다운 */
.day-filter {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    gap: 10px;
}
    .day-filter select {
        padding: 8px 12px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
    }

/* 개별 감정 박스 */
.emotion-boxes {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 50px;
    margin-top: 30px;
}
    .emotion-box1, .emotion-box2 {
        flex: 1;
        width: 45%;
        height: auto;
    }
    .vertical-line {
        width: 1px; /* 세로 줄의 너비 */
        background-color: #ccc; /* 세로 줄의 색상 */
        height: 100%; /* 부모 요소의 높이에 맞게 설정 */
        margin: 0 20px; /* 세로 줄의 좌우 여백 */
    }