<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="app.labs.notice.dao.NoticeRepository">

    <!-- 알림 조회 -->
    <select id="getNoticeList" parameterType="String" resultType="app.labs.notice.model.Notice">
        SELECT NOTICE_ID, NOTICE_TYPE, NOTICE_SEND, NOTICE_READ, NOTICE_DATE, BOARD_ID, MEMBER_ID
        FROM NOTICE
        WHERE MEMBER_ID = #{memberId}
          AND NOTICE_SEND = 'T'
    </select>

    <!-- 읽지 않은 알림 갯수 -->
    <select id="countNotice" parameterType="String" resultType="int">
        SELECT COUNT(1)
        FROM NOTICE
        WHERE MEMBER_ID = #{memberId}
          AND NOTICE_SEND = 'T'
          AND NOTICE_READ = 'F'
    </select>

    <!-- 알림 저장 -->
    <insert id="saveNotice" parameterType="hashmap">
        INSERT INTO NOTICE (NOTICE_TYPE, BOARD_ID, MEMBER_ID)
        VALUES (#{noticeType}, #{boardId}, #{memberId})
    </insert>

    <!-- 알림 보냄 체크 -->
    <update id="sendNotice" parameterType="int">
        UPDATE NOTICE
        SET NOTICE_SEND = 'T'
        WHERE NOTICE_ID = #{noticeId}
    </update>

    <!-- 알림 읽음 체크 -->
    <update id="readNotice" parameterType="int">
        UPDATE NOTICE
        SET NOTICE_READ = 'T'
        WHERE NOTICE_ID = #{noticeId}
    </update>
</mapper>