<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="app.labs.mypage.dao.MyPageRepository">

    <select id="getBoardStats" parameterType="java.util.Map" resultType="map">
        SELECT BOARD_CATEGORY, COUNT(BOARD_CATEGORY) AS COUNT_CATEGORY
        FROM BOARD
        WHERE MEMBER_ID = #{memberId} 
        AND TO_CHAR(BOARD_DATE, 'YYYY-MM') = #{date}
        GROUP BY BOARD_CATEGORY
        ORDER BY BOARD_CATEGORY
    </select>

    <select id="getJournalStats" parameterType="java.util.Map" resultType="map">
        SELECT DIARY_EMOTION, COUNT(DIARY_EMOTION) AS COUNT_EMOTION
        FROM DIARY
        WHERE MEMBER_ID = #{memberId}
        AND TO_CHAR(DIARY_DATE, 'YYYY-MM') = #{date}
        GROUP BY DIARY_EMOTION
        ORDER BY DIARY_EMOTION
    </select>
</mapper>
