<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
</head>
<body>
<h5 th:if="${session.memberid != null}">[[${session.memberid}]]님</h5>
<a href="/login" th:if="${session.memberid == null}">로그인</a>
<a href="/members/insert"  th:if="${session.memberid == null}">회원가입</a>
<a href="/logout" th:if="${session.memberid != null}">로그아웃</a>
<div style="text-align:center;">
	<h1> [[${session.memberid}]]님의 읽지 않은[[${unreadCount}]]개의 알람이 있습니다. </h1>

	<ul th:each="notice: ${noticeList}">
		<a th:href="@{/notice}">
			<span th:text="|제목: ${notice.noticeType}, ${notice.noticeDate}|"></span>
		</a>
		<span><button>삭제하기</button></span>
	</ul>
</div>
</body>
</html>
