/* 전체 적용 */
body {      
    min-height: 100vh;                  
    width: 100%;
    height: auto;
    background-image: url('/img/healing/healing_sky.png');
}

/* 힐링콘텐츠 영역 */
.page-title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
}
.content-container {
    background: rgba(255, 255, 255, 0.8);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 30px;
    max-width: 90%;
    margin: 30px auto;
    padding: 50px;
    border-radius: 15px; 
}
    .content-card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background: white;
        border-radius: 10px;
        padding: 20px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        text-align: center;
    }

    .content-card img {
        width: 100%;
        border-radius: 10px;
        height: 180px;
        object-fit: cover;
    }

    h2 {
        font-size: 1.5rem;
        margin: 15px 0 10px;
    }

    p {
        font-size: 1rem;
        color: #555;
    }

    .hashtags {
        font-size: 0.9rem;
        color: #777;
        margin-top: 5px;
    }

.visit-btn {
    background: #f17c93;
    width: 50%;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 1rem;
    color: white;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 15px;
}
.visit-btn:hover {
    background: #e06379;
}