<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>감정행성 | [[${boardCategory}]]</title>
</head>
<body>
<h5 th:if="${session.memberid != null}">[[${session.memberid}]]님</h5>
<a href="/login" th:if="${session.memberid == null}">로그인</a>
<a href="/members/insert"  th:if="${session.memberid == null}">회원가입</a>
<a href="/logout" th:if="${session.memberid != null}">로그아웃</a>
<div style="text-align:center;">
	<h1> [[${boardCategory}]] board! </h1>

	<ul th:each="board: ${boardList}">
		<a th:href="@{/emotion/Id/{boardId}(boardId=${board.boardId})}">
			<span th:text="|제목: ${board.boardTitle}, 작성자: ${board.memberId}, 작성일: ${board.boardDate}|"></span>
		</a>
	</ul>

	<button th:onclick="|location.href='@{/emotion/{boardCategory}/new(boardCategory=${boardCategory},)}'|"> 글 작성하기 </button>
</div>
</body>
</html>
