<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
    <style>
        * {
            text-align: center;
        }
        #editor {
            width: 50%;
            margin: 0 auto;
        }
    </style>
    <!-- TUI 에디터 CSS CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.48.4/codemirror.min.css"/>
    <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css" />
</head>
<body>
    <form id="boardForm" th:action="@{/emo/{boardCategory}/new(boardCategory=${boardCategory})}" th:object="${board}"  method="post">
        <input type="hidden" th:value="${session.memeberid}" />
        <input type="hidden" th:value="${boardCategory}" /> <!-- boardCategory -->
        <input type="hidden" id="content" th:field="*{boardContent}" /> <!-- 에디터 내용이 저장될 숨겨진 필드 -->

        <input type="text" th:field="*{boardTitle}" required />
        <div id="editor"></div> <!-- 에디터 영역 -->

        <button class="submit-btn" type="submit">제출</button>

    <!-- TUI 에디터 JS CDN -->
    <script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
    <script>
        const editor = new toastui.Editor({
            el: document.querySelector('#editor'),
            height: '300px',
            initialEditType: 'wysiwyg',
            initialValue: '',
            previewStyle: 'vertical'
        });

        const onSubmit = (event) => {
            event.preventDefault(); // 기본 폼 제출 방지

            let content = editor.getHTML(); // 에디터의 HTML 내용 가져오기
            document.getElementById('content').value = content; // 숨겨진 필드에 내용 저장
            // 폼 제출
            document.getElementById('boardForm').submit(); // 폼 제출
        };

        // 제출 버튼에 이벤트 리스너 추가
        document.querySelector('.submit-btn').addEventListener('click', onSubmit);
    </script>
</body>
</html>