<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/thymeleaf/board/board_category}">
<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/board/board_category.css}" />
    <link rel="stylesheet" th:href="@{/css/board/{emo}.css(emo=${board.boardCategory})}" />
    <link rel="stylesheet" th:href="@{/css/board/board_modal.css}" />
</th:block>
<body>
    <!-- 상세보기 모달 창 -->
    <div id="post-modal-02" class="modal detail-modal" layout:fragment="modal-content">
        <div class="modal-content">
            <div class="close-btn" data-id="02">&times;</div>  <!-- 닫기 버튼 -->
            <div class="post-card-detail" th:object="${board}">
                <h3 class="author" th:text="*{memberId}">닉네임</h3>
                <p id="date" th:text="*{boardDate}">2025-02-10, 17:00</p>
                <p id="board-content" th:utext="*{boardContent}"></p>
            </div>

            <!-- 신고 버튼 (본인 게시물인지 확인) -->
            <div class="report-container"  th:if="${board.memberId} != ${session.memberid}">
                <button class="report-btn" id="report-btn">신고</button>
            </div>
            <div class="report-container"  th:if="${board.memberId} == ${session.memberid}">
                <button class="report-btn" id="report-btn"th:text="|신고 누적수: ${board.boardReport}|"></button>
            </div>


            <div class="reaction-buttons" th:object="${emoji}">
                <button id="joy-btn">
                    <p>smile</p>
                    <p id="joy-cnt" th:text="*{joy}"></p>
                </button>
                <button id="cheer-btn">
                    <p>cheer</p>
                    <p id="cheer-cnt" th:text="*{cheer}"></p>
                </button>
                <button id="sad-btn">
                    <p>sad</p>
                    <p id="sad-cnt" th:text="*{sad}"></p>
                </button>
                <button id="worry-btn">
                    <p>worry</p>
                    <p id="worry-cnt" th:text="*{worry}"></p>
                </button>
            </div>
        </div>
    </div>


    <th:block layout:fragment="script">
        <script>
            document.addEventListener("DOMContentLoaded", function () {
                const closeButton = document.querySelectorAll(".close-btn");
                const boardId = [[${board.boardId}]];
                const boardCategory = `[[${board.boardCategory}]]`;
                const sessionId = `[[${session.memberid}]]`;
                const memberId = `[[${board.memberId}]]`;


                closeButton.forEach(button => {
                    button.addEventListener("click", function (event) {
                        event.preventDefault();
                        const modal = document.getElementById("post-modal-02");
                        modal.style.display = "none"; // 모달 닫기

                        window.location.href = "/emotion/category/" + boardCategory;

                    });
                });

                $('#report-btn').on('click', function() {
                    if (!sessionId) {
                        window.location.href = '/login';
                        return;
                    }

                    $.ajax({
                        url: '/emotion/report',
                        method: 'PUT',
                        data: { boardId: boardId },
                        success: function(response) {
                            if (response.status === "OK") {
                                // console.log("신고 성공");
                                window.confirm("신고 완료 처리되었습니다.")
                                const boardReport = response.boardReport;
                                // console.log(boardReport);
                                if (boardReport >= 5) {
                                    window.confirm("게시글이 숨김 처리되었습니다.")
                                    window.location.href = `/emotion/${boardCategory}`;
                                }
                            } else {
                                // console.error("신고 실패:", response);
                            }
                        },
                        error: function(xhr, status, error) {
                            // console.error("신고 실패:", error);
                        }
                    });
                });

                const emojis = ['joy', 'cheer', 'worry', 'sad'];

                emojis.forEach(emoji => {
                    $(`#${emoji}-btn`).on('click', function() {
                        if (!sessionId) {
                            window.location.href = '/login';
                            return;
                        } else if (sessionId == memberId) {
                            window.confirm("본인의 게시글에는 공감할 수 없습니다.")
                            return
                        }

                        $.ajax({
                            url: '/emoji',
                            method: 'PUT',
                            data: {
                                boardId: boardId,
                                emojiCategory: emoji
                            },
                            success: function(response) {
                                if (response.status === "OK") {
                                    // console.log(`${emoji} 반응 성공`);
                                    $.ajax({
                                        url: `/emoji/${boardId}/${emoji}`,
                                        method: 'GET',
                                        success: function(response) {
                                            if (response.status === "OK") {
                                                // console.log(`${emoji} 1 증가`);
                                                $(`#${emoji}-cnt`).text(response.emojiCnt);
                                            } else {
                                                // console.log(`${emoji} 증가 실패:`, response);
                                            }
                                        },
                                        error: function(xhr, status, error) {
                                            // console.log(`${emoji} 증가 실패:`, error);
                                        }
                                    });
                                } else {
                                    // console.error(`${emoji} 반응 실패:`, response);
                                }
                            },
                            error: function(xhr, status, error) {
                                // console.error(`${emoji} 반응 실패:`, error);
                            }
                        });
                    });
                });
            });
        </script>
    </th:block>
</body>
</html>