<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>감정행성</title>
</head>
<body>
	<h5 th:if="${session.memberid != null}">[[${session.memberid}]]님</h5>
	<a href="/login" th:if="${session.memberid == null}">로그인</a>
	<a href="/members/insert"  th:if="${session.memberid == null}">회원가입</a>
	<a href="/logout" th:if="${session.memberid != null}">로그아웃</a>
	<th:block th:if="${session.memberid != null}">
		<a href="/notice" th:if="${!hasNotice}">☆</a>
		<a href="/notice" th:if="${hasNotice}">★</a>
	</th:block>
	<div style="text-align:center;">
		<h1> Hello board! </h1>
		<button onclick="location.href='/emotion/joy'">   기쁨의 방 </button>
		<button onclick="location.href='/emotion/sad'">   슬픔의 방 </button>
		<button onclick="location.href='/emotion/worry'"> 걱정의 방 </button>
		<button onclick="location.href='/emotion/cheer'"> 응원의 방 </button>
	</div>
</body>
</html>
