<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="app.labs.diary.dao.DiaryRepository">

	<select id="getDiaryCount" parameterType="string" resultType="int">
		SELECT COUNT(*) FROM DIARY
		WHERE MEMBER_ID = #{memberId}
	</select>
	
	<select id="getDiaryList" parameterType="string" resultType="app.labs.diary.model.Diary">
    	SELECT 
        	D.DIARY_ID,
        	D.DIARY_TITLE,
        	DBMS_LOB.SUBSTR(D.DIARY_CONTENT, 100, 1) AS DIARY_CONTENT,
        	TO_CHAR(D.DIARY_DATE, 'YYYY.MM.DD HH24:MI') AS DIARY_DATE,
        	NVL(M.MEMBER_NICKNAME, D.MEMBER_ID) AS MEMBER_ID,
        	A.ATTACH_NAME AS ATTACH_NAME
    	FROM DIARY D
    	JOIN MEMBER M ON D.MEMBER_ID = M.MEMBER_ID
    	LEFT JOIN ATTACH A ON D.DIARY_ID = A.DIARY_ID
    	<if test="memberId != null">
        	WHERE D.MEMBER_ID = #{memberId}
    	</if>
    	ORDER BY D.DIARY_DATE DESC, ATTACH_NAME NULLS LAST
	</select>

	
	<select id="getDiaryInfo" parameterType="int" resultType="app.labs.diary.model.Diary">
		SELECT
        	DIARY_ID,
        	DIARY_TITLE,
        	DIARY_CONTENT,
        	MEMBER_ID,
        	TO_CHAR(DIARY_DATE, 'YYYY.MM.DD HH24:MI') AS DIARY_DATE
    	FROM DIARY
   		WHERE DIARY_ID = #{diaryId}
	</select>

	<update id="updateDiary" parameterType="app.labs.diary.model.Diary">
		UPDATE DIARY
    	SET DIARY_TITLE = #{diaryTitle},
        	DIARY_CONTENT = #{diaryContent},
        	DIARY_UPDATE = CURRENT_TIMESTAMP
    	WHERE DIARY_ID = #{diaryId}
	</update>
	
	<insert id="insertDiary" parameterType="app.labs.diary.model.Diary">
    	INSERT INTO DIARY (
        	DIARY_ID, DIARY_TITLE, DIARY_CONTENT, DIARY_DATE, MEMBER_ID)
    	VALUES (
        	diary_seq.NEXTVAL, #{diaryTitle}, #{diaryContent}, CURRENT_TIMESTAMP, #{memberId})
	</insert>

	
	<delete id="deleteDiary" parameterType="int">
		DELETE FROM DIARY
		WHERE DIARY_ID = #{diaryId}
	</delete>
</mapper>