<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="app.labs.diary.dao.DiaryRepository">

	<select id="getDiaryCount" parameterType="string" resultType="int">
		SELECT COUNT(*) FROM DIARY
		WHERE MEMBER_ID = #{memberId}
	</select>
	
	<select id="getDiaryList" parameterType="string" resultType="app.labs.diary.model.Diary">
    	SELECT *
    	FROM DIARY
    	ORDER BY DIARY_DATE DESC
   	</select>

	<!-- 일기 id 생성 -->
	<select id="createDiaryId" resultType="int">
		SELECT DIARY_SEQ.NEXTVAL
		FROM DUAL
	</select>
		
	<select id="getDiaryInfo" parameterType="int" resultType="app.labs.diary.model.Diary">
		SELECT *
    	FROM DIARY
   		WHERE DIARY_ID = #{diaryId}
	</select>

	<update id="updateDiary" parameterType="app.labs.diary.model.Diary">
    	UPDATE DIARY
    	SET DIARY_TITLE = #{diaryTitle},
        	DIARY_DATE = #{diaryDate},
        	DIARY_CONTENT = #{diaryContent}
    	WHERE DIARY_ID = #{diaryId}
	</update>
	
	<insert id="insertDiary" parameterType="app.labs.diary.model.Diary">
    	INSERT INTO DIARY (
        	DIARY_ID, DIARY_TITLE, DIARY_CONTENT, DIARY_DATE, MEMBER_ID)
    	VALUES (
        	#{diaryId}, #{diaryTitle}, #{diaryContent}, #{diaryDate}, #{memberId})
	</insert>

	
	<delete id="deleteDiary" parameterType="int">
		DELETE FROM DIARY
		WHERE DIARY_ID = #{diaryId}
	</delete>
</mapper>