<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Journiverse</title>
    <link rel="stylesheet" href="/css/default_layout.css">
    <th:block layout:fragment="css">
    </th:block>
</head>
<body>
	<header th:replace="~{/thymeleaf/include::header}"></header>
	
	<!-- <span th:replace="~{/thymeleaf/include::pre-content}"></span> -->
    <th:block th:replace="~{/thymeleaf/include::notification}"></th:block>

    <span layout:fragment="pre-content"></span>

	<div class="main-content" layout:fragment="content"></div>

	<footer th:replace="~{/thymeleaf/include::footer}"></footer>
    <!-- <script type="text/javascript" th:src="@{/js/include.js}"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
    <th:block layout:fragment="script"></th:block>
    <script th:replace="~{/thymeleaf/include::notification-script}"></script>
</body>
</html>