<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">


	<!-- [헤더] 헤더 영역 -->
	<header th:fragment="header">
		<nav>
			<div class="logo">
				<a href="/home">
					<img src="/img/logo.png" alt="Journivers" />
				</a>
			</div>
			<div class="menu">
				<a href="/home">Home</a>
				<a href="/diary">Journal Space</a>
				<a href="/emotion">Empathy Space</a>
				<a href="/playlist/recommend">Healing Space</a>
			</div>
			<div class="account">
				<img src="/img/notification.svg"/>
				<a href="/members/insert" th:if="${session.memberid == null}">회원가입</a>
				<a href="/mypage" th:if="${session.memberid != null}">마이페이지</a>
				<button onclick="location.href='/login'" class="login-btn" th:if="${session.memberid == null}">로그인</button>
				<button onclick="location.href='/logout'" class="login-btn" th:if="${session.memberid != null}">로그아웃</button>
			</div>
		</nav>
	</header>
    


	 <!-- [푸터] 푸터영역-->
	<footer class="footer" th:fragment="footer">
		<img src="/img/SKL logo.png" alt="SamKimLee2 Logo" class="footer-logo">
		<div class="footer-text">
			<h3>SamKimLee2 Company</h3>
			<p>78, Gosanja-ro 32-gil, Dongdaemun-gu, <u>Seoul</u>, Republic of Korea</p>
			<!-- <p>Samkimlee2@saesac.com</p> -->
	</footer> 
</html>
