<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/thymeleaf/default_layout}">
    
<th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/css/healing/healing-contents.css}" />   
</th:block>

<div class="main-content" layout:fragment="content">

    <section class="page-title">
        <img src="../../img/healing/Healing Content-title.png">
    </section>
    
    <section class="content-container">
        <div class="content-card">
            <img src="img/healing/playlist1.png" alt="playlist1">
            <h2>playlist 1</h2>
            <p>플레이리스트 설명</p>
            <p class="hashtags">#해시태그</p>
            <button class="visit-btn" onclick="location.href='https://youtu.be/eQXibPTJemM?si=qZPywEI9uHgG-inQ'">Visit now</button>
        </div>
        <div class="content-card">
            <img src="img/healing/playlist2.png" alt="playlist2">
            <h2>playlist 2</h2>
            <p>플레이리스트 설명</p>
            <p class="hashtags">#해시태그</p>
            <button class="visit-btn" onclick="location.href='https://youtu.be/IlLKANX9BQo?si=M5-ff9L6PBKZfJmW'">Visit now</button>
        </div>
        <div class="content-card">
            <img src="img/healing/yoga1.png" alt="yoga1">
            <h2>yoga 1</h2>
            <p>요가 설명</p>
            <p class="hashtags">#해시태그</p>
            <button class="visit-btn" onclick="location.href='https://youtu.be/zi02OlL6XJQ?si=eF0vjhRJ8Rr32rJR'">Visit now</button>
        </div>
        <div class="content-card">
            <img src="img/healing/yoga2.png" alt="yoga2">
            <h2>yoga2</h2>
            <p>요가 설명</p>
            <p class="hashtags">#해시태그</p>
            <button class="visit-btn" onclick="location.href='https://youtu.be/zi02OlL6XJQ?si=eF0vjhRJ8Rr32rJR'">Visit now</button>
        </div>
        <div class="content-card">
            <img src="img/healing/content-default.png" alt="어플 이름">
            <h2>콘텐츠 이름</h2>
            <p>콘텐츠 소개</p>
            <p class="hashtags">해시태그</p>
            <button class="visit-btn">Visit now</button>
        </div>
        <div class="content-card">
            <img src="img/healing/content-default.png" alt="어플 이름">
            <h2>콘텐츠 이름</h2>
            <p>콘텐츠 소개</p>
            <p class="hashtags">해시태그</p>
            <button class="visit-btn">Visit now</button>
        </div>
        <div class="content-card">
            <img src="img/healing/content-default.png" alt="어플 이름">
            <h2>콘텐츠 이름</h2>
            <p>콘텐츠 소개</p>
            <p class="hashtags">해시태그</p>
            <button class="visit-btn">Visit now</button>
        </div>
        <div class="content-card">
            <img src="img/healing/content-default.png" alt="어플 이름">
            <h2>콘텐츠 이름</h2>
            <p>콘텐츠 소개</p>
            <p class="hashtags">해시태그</p>
            <button class="visit-btn">Visit now</button>
        </div>
    </section>
</div>
</body>
</html>


