<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<!-- layout:decorate="~{/thymeleaf/mybatis/default_layout}" -->

<head>
	<meta charset="UTF-8">
	<title>JOURNIVERSE | DIARY LIST</title>
</head>

<body>		
	<div class="content-wrapper">

	
		<div class="diary-container">
			<h2>일기 목록</h2>
			
			<div class="btn-box">
				<button onclick="location.href='/diary/insert'" class="diary-btn write scale">일기쓰기</button>
			</div>
			
			<!-- 검색 -->
			<div class="search-box">
				<input class="search-txt" type="text" name="searchKeyword" placeholder="search">
				<button class="search-btn" type="submit">🔍</button>
					<!-- <img src="" /> 검색버튼에 이미지 사용시 사용-->	
			</div>
			
			<div class="diary-list-container">
				<div class="diary-item" th:each="diary:${diaryList}">
					<a th:href="@{/diary/{id}(id=${diary.diaryId})}" class="diary-link">
						<span class="diary-title" th:utext="${diary.diaryTitle}"></span>
						<span class="diary-date" th:utext="${diary.diaryDate}"></span>
					</a>
				</div>
			</div>
		</div>
	</div>
</body>

</html>
