/* 전체 적용 */
body {
    background-image: url('/img/board/empathy-sky.png');
}

/* 메인 콘텐츠 적용 */
.main-content {
    flex: 1;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;                       
    width: 100%;
    margin-top: 25px;
}

.board-comment {
    display: flex;
    align-items: center;
}

/* 2. [왼쪽] 홈텍스트, CTA, box */
.home-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding: 50px;
    gap: 20px;
}
.home-text {
    max-width: 40%;
}

.cta-box-container {
    display: flex;
    align-items: flex-start; /* 버튼과 박스 높이 정렬 */
    gap: 100px; /* 버튼과 박스 사이 간격 */
}
.start-btn {
    background-color: #F85A7B;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 30px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.start-btn:hover {
    background-color: #F5DF2C;
    color: #F85A7B;
}
.new-post-box {
    align-self: flex-start; /* 왼쪽 정렬 유지 */
    width: 300px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    font-weight: bold;
    text-align: center;
    backdrop-filter: blur(5px);
}
.new-post-box h2 {
    font-size: 23px;
    color: #333;
    margin-bottom: 10px;
}
#post-count {
    font-size: 40px;  /* 숫자를 크게 표시 */
    font-weight: bold;
    color: #F85A7B;  /* 강조 색상 */
    padding: 10px 20px;
    border-radius: 10px;
    display: inline-block;
}

/* 3. [오른쪽] 감정행성 */
.planet-section {
    position: absolute; /* 푸터의 영향을 받지 않도록 절대 위치로 설정 */
    top: 0;  /* 페이지 상단에서 배치 시작 */
    right: 0;
    width: 50%;
    height: 100vh; /* 화면 전체 높이를 차지하도록 설정 */
    display: flex;
    justify-content: center;
    align-items: center;
}
.planet-section img {
    position: absolute;
    width: 400px;
    height: auto;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}
.worry {
    top: 15%;
    right: 50%;
}
.joy {
    top: 50%;
    right: 55%;
}
.cheer {
    top: 25%;
    right: 5%;
}
.sad {
    top: 55%;
    right: 10%;
}
.worry:hover, .joy:hover, .sad:hover, .cheer:hover {
    transform: scale(1.2);
    transition: transform 0.3s ease
}